// Your custom skin

.black-skin .side-nav {
  form.search-form>div {
    overflow-x: hidden;
  }
  .sidenav-bg {
    position: fixed;
  }
  .social {
    a {
      .fa {
        transition: 0.3s;
      }
      &:hover {
        .fa {
          color: #FC5C65;
          transition: 0.3s;
        }
      }
    }
  }
  .collapsible {
    .card {
      .card-header {
        a {
          h5 {
            color: #fff;
          }
          &:hover {
            background: linear-gradient(to left, #ff7979 0%, #c0392b 100%);
          }
        }
      }
      &.active {
        .card-header {
          a {
            background: linear-gradient(to left, #ff7979 0%, #c0392b 100%);
            h5 {
              color: #fff;
              .fa {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .card-body {
      li {
        a {
          color: #A1A1A1;
          background-color: #373A3C;
          &:hover {
            color: #fff;
          }
        }
        .active {
          color: #fff !important;
        }
      }
    }
  }
}