<!--Double navigation-->
<header>

  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="sn-bg-4 fixed" [fixed]="true">

    <mdb-navbar-brand>
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#">
<img src="./../../../assets/img/logo/logo.png" class="img-fluid flex-center">
          </a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <!-- Dashboard-->
            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head routerLink="dashboards/v1" routerLinkActive="active" mdbWavesEffect>
                <i class="fa fa-hand-pointer-o"></i> Dashboard</mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Ventas -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Ventas</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Factura masiva</a>
                  </li>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Imprimir Factura</a>
                  </li>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Recorridos</a>
                  </li>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Factura manual</a>
                  </li>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Nota de crédito</a>
                  </li>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Nota de débito</a>
                  </li>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>Guía de despacho</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Factura electronica -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Factura electronica</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Compras -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Compras</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Existencias -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Existencias</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Cuenta corriente -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Cuenta corriente</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Maestros -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-tasks"></i> Maestros</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="maestros/vendedores" routerLinkActive="active" class="waves-effect" mdbWavesEffect>Vendedores</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Máquinas -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Máquinas</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Lista -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Lista</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Configuración -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Configuración</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Liquidación de recorridos -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
<i class="fa fa-chevron-right"></i> Liquidación de recorridos</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="" routerLinkActive="" class="waves-effect disabled" mdbWavesEffect>...</a>
                  </li>

                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>


            <!-- Default -->
            <mdb-accordion-item>
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fa fa-chevron-right"></i> Default</mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul>
                  <li>
                    <a routerLink="dashboards/v1" routerLinkActive="active" class="waves-effect" mdbWavesEffect>Dashboard</a>
                  </li>
                  <li>
                    <a routerLink="profiles/profile1" routerLinkActive="active" class="waves-effect" mdbWavesEffect>Perfil</a>
                  </li>
                  <li>
                    <a routerLink="tables/table1" routerLinkActive="active" class="waves-effect" mdbWavesEffect>Tablas</a>
                  </li>
                  <li>
                    <a routerLink="maps/map1" routerLinkActive="active" class="waves-effect" mdbWavesEffect>Mapas</a>
                  </li>
                  <li>
                    <a routerLink="nonExistingPath" routerLinkActive="active" class="waves-effect" mdbWavesEffect>404</a>
                  </li>
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar" [containerInside]="false">



    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse black-text">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class="breadcrumbs breadcrumb-dn mr-auto black-text">
        <p>ISSTEC</p>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-envelope"></i>
            <span class="clearfix d-none d-sm-inline-block">Contact</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-comments-o"></i>
            <span class="clearfix d-none d-sm-inline-block">Support</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>
            <i class="fa fa-user"></i>
            <span class="clearfix d-none d-sm-inline-block">Account</span>
          </a>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Dropdown
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->
